progressbar progress {
    min-height: 20px;
    min-width: 10px;
}

.throttle_bar progress {
    background-color: #ffb900;
}

.load_bar progress {
    background-color: #1100ff;
}

.NegativeDiff progress {
    background-color: #CC0000;
}

.PositiveDiff progress {
    background-color: #00994C;
}
